<div class="game-details-area">
    <div class="d-flex pro-clubs-header-1 score-gap mt-4 justify-content-center primary-border-bottom">
        <div>
            {{selectedFixture?.homeTeamDetails?.teamName}}
        </div>
        <div>
            {{selectedFixture?.homeTeamDetails?.teamGoalsAmount}}
            :
            {{selectedFixture?.awayTeamDetails?.teamGoalsAmount}}
        </div>
        <div>
            {{selectedFixture?.awayTeamDetails?.teamName}}
        </div>
    </div>
    <div class="d-flex mt-5">
        <div class="w-50 justify-content-center d-grid">
            <div class="d-flex score-gap w-100 pro-clubs-header-2-regular mt-2" *ngFor="let scorer of selectedFixture?.homeTeamDetails?.teamScorers">
                <div class="pro-clubs-header-2-regular"> 
                    constant name 
                </div>
                <div *ngFor="let _ of [].constructor(scorer.playerStatsAmount)">
                    <i class="fa-solid fa-futbol pro-clubs-text-primary"></i>
                </div>
            </div>
            <div class="d-flex score-gap w-100 pro-clubs-header-2-regular mt-2" *ngFor="let assist of selectedFixture?.homeTeamDetails?.teamAssists">
                <div>
                    constant name 
                </div>
                <div *ngFor="let _ of [].constructor(assist.playerStatsAmount)">
                    <i class="fa-solid fa-a pro-clubs-text-primary"></i>
                </div>
            </div>
        </div>
        <div class="w-50 justify-content-center d-grid">
            <div class="d-flex score-gap w-100 pro-clubs-header-2-regular mt-2" *ngFor="let scorer of selectedFixture?.awayTeamDetails?.teamScorers">
                <div>
                    constant name 
                </div>
                <div *ngFor="let _ of [].constructor(scorer.playerStatsAmount)">
                    <i class="fa-solid fa-futbol pro-clubs-text-primary"></i>
                </div>
            </div>
            <div class="d-flex score-gap w-100 pro-clubs-header-2-regular mt-2" *ngFor="let assist of selectedFixture?.awayTeamDetails?.teamAssists">
                <div>
                    constant name 
                </div>
                <div *ngFor="let _ of [].constructor(assist.playerStatsAmount)">
                    <i class="fa-solid fa-a pro-clubs-text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>