.short-input {
    width: 55px;
}

.score-row {
    justify-content: center;
    gap: 25px;
}

.bottom-0 {
    bottom: 0;
}

.home-side {
    width: 30%;
}

.score-side {
    width: 20%;
}

.away-side {
    width: 30%;
}

.gap-3 {
    gap: 3px;
}