<div class="w-100 ">
    <div class="dashboard-area mt-5 px-4">
        <div class="d-flex w-100 justify-content-center dashbord-row-design">
            <div class="pro-clubs-bg-primary pro-clubs-border-radius pro-clubs-header-2-medium cursor-pointer w-100"
                [routerLink]="'/league-table'">
                <div class="text-center pt-2 h-10">
                    LEAGUE TABLE
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90">
                    <league-table [hideTitle]="true"></league-table>
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center dashbord-row-design mt-3">
            <div class="pro-clubs-bg-primary pro-clubs-border-radius pro-clubs-header-2-medium cursor-pointer w-100"
                [routerLink]="'/fixtures'">
                <div class="text-center pt-2 h-10">
                    FIXTURES
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90 w-100">
                    <fixtures [hideTitle]="true"></fixtures>
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center mt-3 dashbord-row-design">
            <div class="pro-clubs-bg-primary pro-clubs-border-radius cursor-pointer  w-100" [routerLink]="'/top-scorers'">
                <div class="text-center pt-2 pro-clubs-header-2-medium h-10">
                    TOP SCORERS
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90 ">
                    <top-scorers [hideTitle]="true"></top-scorers>
                </div>
            </div>
        </div>
        <div class="pro-clubs-bg-primary pro-clubs-border-radius pro-clubs-header-2-medium cursor-pointer mt-3 dashbord-row-design"
            [routerLink]="'/top-assists'">
            <div class="text-center pt-2 h-10">
                TOP ASSISTS
            </div>
            <div class="overflow-y-auto overflow-x-hidden h-90 w-100">
                <top-assists [hideTitle]="true"></top-assists>
            </div>
        </div>
    </div>
</div>