<div class="w-100 ">
    <div class="dashboard-area mt-5">
        <div class="d-flex w-100 justify-content-center dashbord-row-design">
            <div class="pro-clubs-bg-primary w-40 pro-clubs-border-radius pro-clubs-header-2-medium cursor-pointer"
                [routerLink]="'/league-table'">
                <div class="text-center pt-2 h-10">
                    LEAGUE TABLE
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90">
                    <league-table [hideTitle]="true"></league-table>
                </div>
            </div>
            <div class="pro-clubs-bg-primary w-40 pro-clubs-border-radius pro-clubs-header-2-medium cursor-pointer"
                [routerLink]="'/fixtures'">
                <div class="text-center pt-2 h-10">
                    FIXTURES
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90">
                    <fixtures [hideTitle]="true"></fixtures>
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center mt-5 dashbord-row-design">
            <div class="pro-clubs-bg-primary w-40 pro-clubs-border-radius cursor-pointer" [routerLink]="'/top-scorers'">
                <div class="text-center pt-2 pro-clubs-header-2-medium h-10">
                    TOP SCORERS
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90">
                    <top-scorers [hideTitle]="true"></top-scorers>
                </div>
            </div>
            <div class="pro-clubs-bg-primary w-40 pro-clubs-border-radius pro-clubs-header-2-medium cursor-pointer"
                [routerLink]="'/top-assists'">
                <div class="text-center pt-2 h-10">
                    TOP ASSISTS
                </div>
                <div class="overflow-y-auto overflow-x-hidden h-90">
                    <top-assists [hideTitle]="true"></top-assists>
                </div>
            </div>
        </div>
    </div>
</div>