<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-border-bottom">
    <a class="navbar-brand" href="#">ProClubsStats</a>
    <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let navbarItem of navbarItems">
            <a class="nav-link" [href]="navbarItem.link">{{navbarItem.displayText}}</a>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
    </ul>
</nav>