<div class="d-flex flex-column gap-15" *ngIf="!playerStats || playerStats === {}">
    <div class="d-flex flex-column gap-2">
        <div class="mb-2 primary-border-bottom w-25">
            STATS BY POSITION
        </div>
        <div class="d-flex">
            <div class="w-20 text-center">
                POSITION
            </div>
            <div class="w-20 text-center">
                GAMES
            </div>
            <div class="w-20 text-center">
                GOALS
            </div>
            <div class="w-20 text-center">
                ASSISTS
            </div>
            <div class="w-20 text-center">
                RATING
            </div>
        </div>
        <div class="d-flex flex-column gap-2">
            <div *ngFor="let playerStats of getPlayerStatsAsArray()!">
                <div class="d-flex">
                    <div class="w-20 text-center pro-clubs-text-primary">
                        {{ playerStats.key }}
                    </div>
                    <div class="w-20 text-center">
                        {{ playerStats.value.games }}
                    </div>
                    <div class="w-20 text-center">
                        {{ playerStats.value.goals }}
                    </div>
                    <div class="w-20 text-center">
                        {{ playerStats.value.assists }}
                    </div>
                    <div class="w-20 text-center">
                        {{ playerStats.value.avgRating.toFixed(2) }}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!playerStats || !playerStatsChartOptions ">
            <pro-clubs-spinner></pro-clubs-spinner>
        </div>
    </div>
</div>