<div>
    <div class="pro-clubs-header-1 mt-4 w-100 text-center">

        {{chosenTeam!.name}}
    </div>
    <div class="mt-3 w-100 text-center primary-border-bottom pb-4">
        <div class="d-flex justify-content-end pe-2" *ngIf="!isViewOnly()">
            <i class="fas fa-edit text-white cursor-pointer" *ngIf="!editTeamPhotoMode"
                (click)="editTeamPhotoMode = true"></i>
            <i class="fa-solid fa-xmark cursor-pointer" *ngIf="editTeamPhotoMode"
                (click)="editTeamPhotoMode = false"></i>
        </div>
        <div>
            <img [src]="chosenTeam!.imgUrl ? chosenTeam!.imgUrl : 'assets/Icons/TeamLogo.jpg'"
                class="player-photo-size">
        </div>
        <label for="urlPhoto" class="custom-file-label mt-2" *ngIf="editTeamPhotoMode">
            <button type="button" (click)="fileInput.click()" class="pro-clubs-button-primary pro-clubs-input">EDIT
                IMAGE</button>
        </label>
        <input type="file" #fileInput id="urlPhoto" class="custom-file-input" (change)="onFileSelected($event)">
    </div>
    <div class="mt-4 primary-border-bottom pb-4 pro-clubs-text-regular width-max-content w-100 text-center">
        <div class="d-flex justify-content-end pe-2" *ngIf="!isViewOnly()">
            <i class="fas fa-edit text-white cursor-pointer" *ngIf="!editCaptainMode"
                (click)="changeEditCaptainModeStatus(true)"></i>
            <i class="fa-solid fa-xmark cursor-pointer" *ngIf="editCaptainMode"
                (click)="changeEditCaptainModeStatus(false)"></i>
        </div>
        <div *ngIf="!editCaptainMode">
            <div>
                CAPTAIN
            </div>
            <div class="mt-3 w-100 text-center cursor-pointer"
                (click)="navigateToPlayerDetails(chosenTeam!.captain!.id)">
                <img  *ngIf="chosenTeam!.captain" [src]="chosenTeam!.captain!.imgUrl ? chosenTeam!.captain!.imgUrl  : 'assets/Icons/User.jpg'"
                    class="player-photo-size">
            </div>
            <div class=" mt-3 w-100 text-center cursor-pointer"
                (click)="navigateToPlayerDetails(chosenTeam!.captain!.id)">
                {{getTeamCaptainName()}}
            </div>
        </div>
        <div *ngIf="editCaptainMode">
            <div>
                <pro-clubs-auto-complete-select [defaultOption]="selectedCaptain!.value"
                    [selectOptions]="playersOptions!" (selectionChange)="onCaptainSelect($event)"
                    [placeholder]="'Choose Captain'"></pro-clubs-auto-complete-select>
            </div>
            <div class="mt-2">
                <button type="button" (click)="saveNewCaptain()"
                    class="pro-clubs-button-primary pro-clubs-input">SAVE</button>
            </div>
        </div>
    </div>
</div>