<div class="w-100 " *ngIf="!isLoading">
    <div>
        <div *ngFor="let game of teamGamesData"
            class="text-center mb-2 gap-15px cursor-pointer align-items-center d-flex">
            <div class="d-flex game-area place-content-center pro-clubs-bg-primary w-100" (click)="onGameClick(game)">
                <div class="w-45 align-items-center d-flex justify-content-end">
                    {{game.homeTeam.name}}
                    <img class="team-image-size mx-2"
                        [src]="game.homeTeam!.imgUrl ?  game.homeTeam!.imgUrl : 'assets/Icons/TeamLogo.jpg'" />
                </div>
                <div class="w-10 pro-clubs-header-1 align-items-center d-grid" *ngIf="game.id !== currentEditedGameId">
                    <div *ngIf="game.status === GameStatus.PLAYED || game.status === GameStatus.COMPLETED">
                        {{game.result!.homeTeamGoals}}:{{game.result!.awayTeamGoals}}
                    </div>
                    <div *ngIf="game.status === GameStatus.SCHEDULED">
                        - : -
                    </div>
                </div>
                <div class="w-10 pro-clubs-header-1 align-items-center d-flex" *ngIf="game.id === currentEditedGameId">
                    <div>
                        <input type="number" class="pro-clubs-short-input" [(ngModel)]="homeTeamGoals">
                    </div>
                    <div>
                        :
                    </div>
                    <div>
                        <input type="number" class="pro-clubs-short-input" [(ngModel)]="awayTeamGoals">
                    </div>
                </div>
                <div class="w-45 align-items-center d-flex">
                    <img class="team-image-size mx-2"
                        [src]="game.awayTeam!.imgUrl ?  game.awayTeam!.imgUrl : 'assets/Icons/TeamLogo.jpg'" />
                    {{game.awayTeam.name}}
                </div>
            </div>
            <div class="d-grid align-items-center ml-2" >
                <i class="fas fa-edit text-white cursor-pointer" *ngIf="currentEditedGameId !== game.id" (click)="onEditGameResultClick(game)"></i>
                <i class="fa-solid fa-floppy-disk text-white cursor-pointer" (click)="onSaveClick(game)" *ngIf="currentEditedGameId === game.id"></i>
            </div>
        </div>
    </div>
    <mat-paginator [length]="teamGamesData?.length" [pageSize]="1" (page)="onPageChange($event)"></mat-paginator>
</div>

<pro-clubs-spinner *ngIf="isLoading"></pro-clubs-spinner>

<div class="modal fade" tabindex="-1" #gameDetailsModal aria-hidden="true" *ngIf="selectedGame">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1500px;">
        <div class="modal-content align-items-center pro-clubs-bg-primary overflow-y-auto"
            style="height: 800px; padding: 20px;">
            <div class="d-flex w-100 justify-content-between">
                <div class="d-flex  cursor-pointer" *ngIf="!editGame">
                    <div (click)="onEditClick()">
                        EDIT FIXTURE <i class="fas fa-edit text-white"></i>
                    </div>
                </div>
                <div *ngIf="editGame" class="d-flex cursor-pointer" (click)="onCancelClick()">
                    CANCEL EDIT MODE
                </div>
                <div class="d-flex">
                    <i class="fa-solid fa-xmark cursor-pointer" (click)="closeModal()"></i>
                </div>
            </div>
            <app-game-details [selectedGameId]="selectedGame!.id" class="w-100" *ngIf="!editGame"></app-game-details>
            <modify-game [selectedGameId]="selectedGame!.id" (onSaveEvent)="editGame = false"  class="w-100" *ngIf="editGame"></modify-game>
        </div>
    </div>
</div>