// override background color of all the table
.mat-mdc-table {
    background-color: var(--bg-primary) !important;
}

// override color of td 
.mat-mdc-cell {
    color: white !important;
}

// override color of headers 
.mat-mdc-header-cell {
    color: white !important;
    border-bottom: 2px solid var(--primary);
}

.photo-in-table-row {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}