<div>
    <table mat-table matSort [matSortActive]="defaultSort! " matSortDirection="asc" (matSortChange)="sortData($event)"
        matSortDisableClear mat-table [dataSource]="sortedTableData">
        <ng-container *ngFor="let column of displayedColumnsData" [matColumnDef]="column.fieldName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.displayText}} </th>

          ֶ  <ng-container *ngIf="column.fieldName === 'index'">
                <td mat-cell *matCellDef="let element; let i =index ">
                     {{i + 1}}</td>

            </ng-container>
            <ng-container *ngIf="column.fieldName !== 'index'">
                <td mat-cell *matCellDef="let element; let i =index ">
                    {{element[column.fieldName]}} </td>

            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsNamesOnly"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNamesOnly;" (click)="onRowClick(row)"></tr>
    </table>
</div>