.pro-clubs-bg-primary {
    background: var(--bg-primary);
}

.pro-clubs-bg-secondary {
    background: var(--secondary) !important;
}

.pro-clubs-header-1 {
    font-size: 24px;
}

.pro-clubs-header-2 {
    font-size: 18px;
}

.pro-clubs-text-regular {
    font-size: 16px;
    font-weight: 400;
}

.pro-clubs-input {
    background-color: var(--bg-primary);
    color: white;
    width: 216px;
    padding: 0px 16px;
    height: 60px;
    border: 2px solid var(--primary);
    border-radius: 4px;
}

.pro-clubs-short-input {
    background-color: var(--bg-primary);
    border: 2px solid var(--primary);
    border-radius: 4px;
    width: 60px;
    text-align: center;
    color: white;
}

.pro-clubs-button-primary {
    color: white;
    background: var(--bg-primary);
    border: 2px solid var(--primary);
    border-radius: 4px;
    height: 40px;
}

.text-green {
    color: green;
}

.text-orange {
    color: orange;
}

.text-red {
    color: red;
}

@media screen and (min-width: 800px) {
    .pro-clubs-page-template {
        width: 1700px;
        height: 800px;
        border-radius: 4px;
        background: var(--secondary);
        padding: 30px 110px;
        overflow-y: auto;
    }
}

.primary-border-bottom {
    border-bottom: 0.5px solid var(--primary);
}

.pro-clubs-border-radius {
    border-radius: 4px;
}

.pro-clubs-text-primary{
    color: var(--primary);
}

.disabled-button {
    opacity: 0.5;
}