.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--primary) !important;
}

::ng-deep div.mat-mdc-autocomplete-panel {
    background-color: var(--bg-primary) !important;
}

.mat-mdc-option.mdc-list-item {
    color: white !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: var(--bg-primary) !important;
    border: 2px solid var(--primary);
    border-radius: 4px;
}

::ng-deep .mdc-text-field--focused {}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input ::placeholder {
    color: white !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: white !important;
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after,
::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--primary) !important;
}

input::placeholder {
    color: #999999 !important;
}