<div class="w-100 h-100" *ngIf="chosenPlayer">
    <div class="pro-clubs-header-1 text-white pb-2 h-5">
        <i class="fa-solid fa-arrow-left arrow-back cursor-pointer" (click)="onArrowBackClick()"></i>
    </div>
    <div class="d-flex h-95 team-overall-area">
        <div class="w-25 pro-clubs-bg-primary h-100 pro-clubs-border-radius">
            <div class="d-flex justify-content-between p-2 flex-row-reverse">
                <i class="fas fa-edit text-white cursor-pointer" *ngIf="!editPlayerMode"
                (click)="onEditClick() "></i>
                <i class="fa-solid fa-xmark cursor-pointer" *ngIf="editPlayerMode" (click)="onCancelEditClick()"></i>
                <i class="fa-solid fa-floppy-disk text-white cursor-pointer" *ngIf="editPlayerMode" (click)="onSaveClick()"></i>
            </div>
            <div class="pro-clubs-header-1 w-100 text-center" *ngIf="!editPlayerMode">
                {{chosenPlayer!.name}}
            </div>
            <div class="pro-clubs-header-1 w-100 text-center" *ngIf="editPlayerMode">
                <input class="pro-clubs-input" [(ngModel)]="editedPlayerName">
            </div>
            <div class="mt-4 w-100 text-center primary-border-bottom pb-4">
                <div>
                    <img [src]="chosenPlayer.imgUrl ? chosenPlayer.imgUrl :  'assets/Icons/User.jpg'"
                        class="player-photo-size">
                </div>
                <label for="urlPhoto" class="custom-file-label mt-2" *ngIf="editPlayerMode">
                    <button type="button" (click)="fileInput.click()"
                        class="pro-clubs-button-primary pro-clubs-input">UPLOAD
                        IMAGE</button>
                </label>
                <input type="file" #fileInput id="urlPhoto" class="custom-file-input" (change)="onFileSelected($event)">
            </div>
            <div class="pro-clubs-header-1 mt-3 w-100 text-center cursor-pointer" (click)="navigateToTeamDetails()">
                {{chosenPlayer!.team.name}}
            </div>
            <div class="mt-3 w-100 text-center primary-border-bottom">
                <img [src]="chosenPlayer.team.imgUrl ? chosenPlayer.team.imgUrl : 'assets/Icons/TeamLogo.jpg'"
                    class="player-photo-size cursor-pointer mb-4" (click)="navigateToTeamDetails()">
            </div>
            <div class="pro-clubs-header-2-regular mt-3 w-100 text-center">
                AGE: {{chosenPlayer!.age}}
            </div>
            <div class="pro-clubs-header-2-regular mt-3 w-100 text-center">
                POSITION: {{chosenPlayer!.position}}
            </div>
            <div class="pro-clubs-header-2-regular mt-3 w-100 text-center">
                PLAYABLE POSITIONS:
            </div>
            <div class="pro-clubs-header-2-regular mt-1 w-100 text-center">
                {{chosenPlayer!.playablePositions}}
            </div>
        </div>
        <div class="team-stats-area w-75 d-flex flex-column h-100">
            <div class="d-flex h-15 justify-content-between games-stats-row">
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        GAMES
                    </div>
                    <div>
                        {{chosenPlayer!.stats.games}}
                    </div>
                </div>
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        GOALS
                    </div>
                    <div>
                        {{chosenPlayer!.stats!.goals}}
                    </div>
                </div>
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        ASSISTS
                    </div>
                    <div>
                        {{chosenPlayer!.stats.assists}}
                    </div>
                </div>
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        AVERAGE RATING
                    </div>
                    <div>
                        {{chosenPlayer!.stats.avgRating.toFixed(2)}}
                    </div>
                </div>
            </div>
            <div
                class="h-83 pro-clubs-bg-primary pro-clubs-border-radius squad-area d-flex flex-column justify-content-end">
                <div class="w-100 d-flex justify-content-end">
                    <button class="pro-clubs-button-primary" (click)="deletePlayer()">DELETE PLAYER</button>
                </div>
            </div>
        </div>
    </div>
</div>