<div class="w-100 h-100" *ngIf="chosenPlayer">
    <div class="pro-clubs-header-1 text-white pb-2 h-5">
        <i class="fa-solid fa-arrow-left arrow-back cursor-pointer" (click)="onArrowBackClick()"></i>
    </div>
    <div class="d-flex h-95 team-overall-area">
        <div class="w-25 pro-clubs-bg-primary h-100 pro-clubs-border-radius">
            <div class="pro-clubs-header-1 mt-4 w-100 text-center">
                {{chosenPlayer!.name}}
            </div>

            <div class="mt-4 w-100 text-center primary-border-bottom pb-4">
                <div class="d-flex justify-content-end pe-2">
                    <i class="fas fa-edit text-white cursor-pointer" *ngIf="!editPlayerPhotoMode"
                        (click)="editPlayerPhotoMode = true"></i>
                    <i class="fa-solid fa-xmark cursor-pointer" *ngIf="editPlayerPhotoMode"
                        (click)="editPlayerPhotoMode = false"></i>
                </div>
                <div>
                    <img [src]="chosenPlayer.imgUrl ? chosenPlayer.imgUrl :  'assets/Icons/User.jpg'"
                    class="player-photo-size">
                </div>
                <label for="urlPhoto" class="custom-file-label mt-2" *ngIf="editPlayerPhotoMode">
                    <button type="button" (click)="fileInput.click()"
                        class="pro-clubs-button-primary pro-clubs-input">EDIT
                        IMAGE</button>
                </label>
                <input type="file" #fileInput id="urlPhoto" class="custom-file-input" (change)="onFileSelected($event)">
            </div>
            <div class="pro-clubs-header-1 mt-4 w-100 text-center cursor-pointer" (click)="navigateToTeamDetails()">
                {{chosenPlayer!.team.name}}
            </div>
            <div class="mt-4 w-100 text-center primary-border-bottom">
                <img [src]="chosenPlayer.team.imgUrl ? chosenPlayer.team.imgUrl : 'assets/Icons/TeamLogo.jpg'" class="player-photo-size cursor-pointer mb-4"
                    (click)="navigateToTeamDetails()">
            </div>
            <div class="pro-clubs-header-2-regular mt-4 w-100 text-center">
                AGE: {{chosenPlayer!.age}}
            </div>
            <div class="pro-clubs-header-2-regular mt-4 w-100 text-center">
                POSITION: {{chosenPlayer!.position}}
            </div>
            <div class="pro-clubs-header-2-regular mt-4 w-100 text-center">
                PLAYABLE POSITIONS:
            </div>
            <div class="pro-clubs-header-2-regular mt-1 w-100 text-center">
                {{chosenPlayer!.playablePositions}}
            </div>
        </div>
        <div class="team-stats-area w-75 d-flex flex-column h-100">
            <div class="d-flex h-15 justify-content-between games-stats-row">
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        GAMES
                    </div>
                    <div>
                        {{chosenPlayer!.stats.games}}
                    </div>
                </div>
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        GOALS
                    </div>
                    <div>
                        {{chosenPlayer!.stats!.goals}}
                    </div>
                </div>
                <div
                    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
                    <div>
                        ASSISTS
                    </div>
                    <div>
                        {{chosenPlayer!.stats.assists}}
                    </div>
                </div>
            </div>
            <div class="h-83 pro-clubs-bg-primary pro-clubs-border-radius squad-area">

            </div>
        </div>
    </div>
</div>