.team-overall-area {
    gap: 20px;
}

.team-stats-area {
    gap: 20px;
}

.games-stats-row {
    gap: 10px;
}

.squad-area {
    padding: 10px;
}

.player-photo-size {
    width: 96px;
    height: 96px;
    border-radius: 48px;
}