.game-area {
    border: 2px solid var(--primary);
    border-radius: 4px;
    height: 60px;
}

.game-area:hover {
    opacity: 0.8;
}

.home-side {
    width: 30%;
}

.score-side {
    width: 20%;
}

.away-side {
    width: 30%;
}