<div class="w-100 d-grid justify-content-center ">
    <div class="pro-clubs-header-1">
        ADD PLAYER
    </div>
    <div class="pro-clubs-page-template games-area">
        <form [formGroup]="addPlayerFormGroup" (ngSubmit)="onSubmit()">
            <div class="d-flex mt-3">
                <div class="w-25 d-grid align-content-center">
                    Team Name:
                </div>
                <div class="pro-clubs-input d-grid align-content-center">
                    {{ teamName}}
                </div>
            </div>
            <ng-container *ngFor="let control of formControls">
                <div class="d-flex mt-3">
                    <div class="w-25 d-grid align-content-center">
                        {{ control.displayText }}:
                    </div>
                    <div>
                        <input *ngIf="control.type === 'text-input' " [formControlName]="control.field"
                            [placeholder]="control.displayText" class="pro-clubs-input">
                        <pro-clubs-auto-complete-select *ngIf="control.type === 'select'"
                            [placeholder]="control.displayText" (selectionChange)="onSelectionChange($event)"
                            [selectOptions]="playablePositionOptions"></pro-clubs-auto-complete-select>
                        <pro-clubs-multiple-select *ngIf="control.type === 'multi-select' "
                            [placeholder]="control.displayText" (selectionChange)="onMultipleSelectionChange($event)"
                            [selectOptions]="playablePositionOptions"></pro-clubs-multiple-select>
                        <div *ngIf="control.type === 'photo'" class="d-flex gap-15px">
                            <label for="urlPhoto" class="custom-file-label">
                                <button type="button" (click)="fileInput.click()"
                                    class="pro-clubs-button-primary pro-clubs-input">ADD
                                    IMAGE</button>
                            </label>
                            <div class="d-grid align-items-center ml-3" *ngIf="control.control.value != ''">
                                {{control.control.value}}</div>
                            <input type="file" #fileInput id="urlPhoto" class="custom-file-input"
                                (change)="onFileSelected($event)">
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="text-center mt-5">
                <button type="submit" class="pro-clubs-button-primary"
                    [disabled]="addPlayerFormGroup.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>