<div class="game-details-area" *ngIf="!isLoading">
    <div class="d-flex pro-clubs-header-1 score-row justify-content-center">
        <div class="w-45 text-right text-center cursor-pointer align-items-center">
            <img class="team-image-size mx-2"
                [src]="selectedGame!.homeTeam!.imgUrl ?  selectedGame!.homeTeam!.imgUrl : 'assets/Icons/TeamLogo.jpg'" />
            {{selectedGame?.homeTeam?.name}}
        </div>
        <div class="w-10 text-center d-flex">
            <input type="text" maxlength="2" [(ngModel)]="homeTeamGoalsAmount" class="pro-clubs-short-input">
            :
            <input type="text" maxlength="2" [(ngModel)]="awayTeamGoalsAmount" class="pro-clubs-short-input">
        </div>
        <div class="w-45 text-center cursor-pointer">
            {{selectedGame!.awayTeam!.name}}
            <img class="team-image-size mx-2"
                [src]="selectedGame!.awayTeam!.imgUrl ?  selectedGame!.awayTeam!.imgUrl : 'assets/Icons/TeamLogo.jpg'" />
        </div>
    </div>
    <form [formGroup]="playersStatsFormGroup!" (ngSubmit)="submitForm()">
        <div class="d-flex mt-4">
            <div class="w-45 text-center">
                <div formArrayName="homeTeamPlayers" class="w-100">
                    <div class="d-flex score-row w-100">
                        <div>
                            PLAYER NAME
                        </div>
                        <div>
                            POSITION
                        </div>
                        <div>
                            RATING
                        </div>
                        <div>
                            GOALS
                        </div>
                        <div>
                            ASSISTS
                        </div>
                        <div>
                            POTM?
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="d-flex score-row mt-1" *ngFor="let player of homeTeamPlayers.controls; let i = index"
                        [formGroupName]="i">
                        <div style="width: 185px;">
                            <pro-clubs-auto-complete-select [defaultOption]="player.get('playerId')!.value"
                                [placeholder]="'PLAYER NAME'"
                                (selectionChange)="onSelectionChange('playerId', $event, true, i)"
                                [selectOptions]="homeTeamPlayersOptions!"></pro-clubs-auto-complete-select>
                        </div>
                        <div style="width: 110px;">
                            <pro-clubs-auto-complete-select [placeholder]="'Position'"
                                [defaultOption]="player.get('positionPlayed') ? player.get('positionPlayed')!.value : ''"
                                (selectionChange)="onSelectionChange('position', $event, true, i)"
                                [selectOptions]="playablePositionOptions"></pro-clubs-auto-complete-select>
                        </div>
                        <div class="w-10">
                            <input type="number" formControlName="rating" class="pro-clubs-short-input h-100">
                        </div>
                        <div class="w-10">
                            <input type="number" formControlName="goals" class="pro-clubs-short-input h-100"
                                maxlength="2">
                        </div>
                        <div class="w-10">
                            <input type="number" formControlName="assists" class="pro-clubs-short-input h-100"
                                maxlength="2">
                        </div>
                        <div class="w-10">
                            <input type="checkbox" formControlName="playerOfTheMatch"
                                class="pro-clubs-short-input h-100" maxlength="2">
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-trash cursor-pointer" (click)="removePlayer(true, i)"></i>
                        </div>
                    </div>
                    <div class="mt-4 d-flex place-content-center gap-15" *ngIf="homeTeamPlayers.length < 11">
                        <button type="button" class="pro-clubs-button-primary" (click)="addPlayer(true)">Add
                            Player</button>
                        <button type="button" class="pro-clubs-button-primary" (click)="addFullTeam(true)">Add
                            Full Team</button>
                    </div>
                </div>
            </div>
            <div class="w-10"></div>
            <div class="w-45 text-center">
                <div formArrayName="awayTeamPlayers" class="w-100">
                    <div class="d-flex score-row">
                        <div>
                            PLAYER NAME
                        </div>
                        <div>
                            POSITION
                        </div>
                        <div class="w-10">
                            RATING
                        </div>
                        <div class="w-10">
                            GOALS
                        </div>
                        <div class="w-10">
                            ASSISTS
                        </div>
                        <div class="w-10">
                            POTM?
                        </div>
                        <div class="w-10">
                        </div>
                    </div>
                    <div class="d-flex score-row mt-1" *ngFor="let player of awayTeamPlayers.controls; let i = index"
                        [formGroupName]="i">
                        <div style="width: 185px;">
                            <pro-clubs-auto-complete-select [placeholder]="'PLAYER NAME'"
                                [selectOptions]="awayTeamPlayersOptions!"
                                [defaultOption]="player.get('playerId')!.value"
                                (selectionChange)="onSelectionChange('playerId', $event, false, i)"></pro-clubs-auto-complete-select>
                        </div>
                        <div style="width: 110px;">
                            <pro-clubs-auto-complete-select [placeholder]="'Position'"
                                [defaultOption]="player.get('positionPlayed') ? player.get('positionPlayed')!.value : ''"
                                (selectionChange)="onSelectionChange('position', $event, false, i)"
                                [selectOptions]="playablePositionOptions"></pro-clubs-auto-complete-select>
                        </div>

                        <div class="w-10">
                            <input type="number" formControlName="rating" class="pro-clubs-short-input h-100"
                                max="10.0">
                        </div>
                        <div class="w-10">
                            <input type="number" formControlName="goals" class="pro-clubs-short-input h-100"
                                maxlength="2">
                        </div>
                        <div class="w-10">
                            <input type="number" formControlName="assists" class="pro-clubs-short-input h-100"
                                maxlength="2">
                        </div>
                        <div class="w-10">
                            <input type="checkbox" formControlName="playerOfTheMatch"
                                class="pro-clubs-short-input h-100" maxlength="2">
                        </div>
                        <div class="d-grid align-items-center">
                            <i class="fa-solid fa-trash cursor-pointer" (click)="removePlayer(false, i)"></i>
                        </div>
                    </div>
                    <div class="mt-4 d-flex place-content-center gap-15" *ngIf="awayTeamPlayers.length < 11">
                        <button type="button" class="pro-clubs-button-primary" (click)="addPlayer(false)">Add
                            Player</button>
                        <button type="button" class="pro-clubs-button-primary" (click)="addFullTeam(false)">Add
                            Full Team</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="pro-clubs-button-primary">Save</button>
        </div>
    </form>
</div>

<pro-clubs-spinner *ngIf=" isLoading"></pro-clubs-spinner>