.game-details-area {
    padding: 20px;
}

.score-gap {
    gap: 15px;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

.score-row {
    gap: 35px;
    height: 64px;
}

.h-81 {
    height: 81%;
}

.team-image-size {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}