<div class="w-100 h-100" *ngIf="chosenTeam">
    <div class="h-5 pro-clubs-header-1 text-white pb-2">
        <i class="fa-solid fa-arrow-left arrow-back cursor-pointer" (click)="onArrowBackClick()"></i>
    </div>
    <div class="h-95">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="h-100">
            <mat-tab label="OVERALL">
                <team-details-overall (onTeamUpdateEvent)="loadTeamDetails()"
                    [chosenTeam]="chosenTeam"></team-details-overall>
            </mat-tab>
            <mat-tab label="MATCHES">
                <team-details-matches [teamId]="teamID"></team-details-matches>
            </mat-tab>
            <mat-tab label="STATS">
                <team-details-stats></team-details-stats>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>