<div class="w-100 d-grid justify-content-center" *ngIf="chosenTeam">
    <div class="pro-clubs-header-1 text-white">
        TEAM DETAILS
    </div>
    <div class="pro-clubs-page-template">
        <div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="OVERALL">
                    <team-details-overall [chosenTeam]="chosenTeam"></team-details-overall>
                </mat-tab>
                <mat-tab label="MATCHES">
                    <team-details-matches></team-details-matches>
                </mat-tab>
                <mat-tab label="STATS">
                    <team-details-stats></team-details-stats>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>