<div class="pro-clubs-bg-primary h-100 popup-area">
    <div class="d-flex w-100 justify-content-between">
        <div *ngIf="data.componentSwitchMode">
            <div class="d-flex cursor-pointer" *ngIf="displayFirstComponent" (click)="switchBetweenComponents(false)">
                <div >
                    EDIT FIXTURE <i class="fas fa-edit text-white"></i>
                </div>
            </div>
            <div class="d-flex cursor-pointer" *ngIf="!displayFirstComponent" (click)="switchBetweenComponents(true)">
                CANCEL EDIT MODE
            </div>
        </div>
        
        <div class="d-flex">
            <i class="fa-solid fa-xmark cursor-pointer" (click)="closeModal()"></i>
        </div>
    </div>
    <ng-template #componentContainer ></ng-template>
</div>