.game-details-area {
    padding: 20px;
}

.score-gap {
    gap: 15px;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

.score-row {
    gap: 35px;
    height: 75px;
}

.h-81 {
    height: 81%;
}