<div class="d-flex h-100 team-overall-area" *ngIf="chosenTeam">
    <div class="w-25 pro-clubs-bg-primary h-100 pro-clubs-border-radius">
        <team-details-overall-data (onTeamUpdateEvent)="onTeamUpdate()" [chosenTeam]="chosenTeam!"></team-details-overall-data>
    </div>
    <div class="team-stats-area w-75 d-flex flex-column h-100">
        <div class="d-flex h-15  ">
            <team-details-overall-stats [chosenTeam]="chosenTeam!"
                class="w-100 d-flex justify-content-between games-stats-row"></team-details-overall-stats>
        </div>
        <div class="h-85 pro-clubs-bg-primary pro-clubs-border-radius squad-area">
            <team-details-squad [chosenTeam]="chosenTeam!"></team-details-squad>
        </div>
    </div>
</div>