<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        GAMES
    </div>
    <div>
        {{chosenTeam!.stats?.games}}
    </div>
</div>
<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        WINS
    </div>
    <div class="text-green">
        {{chosenTeam!.stats?.wins}}
    </div>
</div>
<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        DRAWS
    </div>
    <div class="text-orange">
        {{chosenTeam!.stats?.draws}}
    </div>
</div>
<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2-regular d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        LOSSES
    </div>
    <div class="text-red">
        {{chosenTeam!.stats?.losses}}
    </div>
</div>