<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2 d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        GAMES
    </div>
    <div>
        {{chosenTeam.gamesAmount}}
    </div>
</div>
<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2 d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        WINS
    </div>
    <div class="text-green">
        {{chosenTeam.winsAmount}}
    </div>
</div>
<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2 d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        DRAWS
    </div>
    <div class="text-orange">
        {{chosenTeam.drawsAmount}}
    </div>
</div>
<div
    class="pro-clubs-bg-primary flex-fill pro-clubs-header-2 d-grid text-center place-content-center pro-clubs-border-radius">
    <div>
        LOSSES
    </div>
    <div class="text-red">
        {{chosenTeam.losesAmount}}
    </div>
</div>