@import "./styles/color-variables.scss";
@import "./styles/common-classes.scss";

@font-face {
    font-family: Montserrat;
    src: url('assets/Fonts/Montserrat.ttf');
}

body {
    background-color: var(--bg-primary) !important;
    color: white !important;
}

* {
    font-family: Montserrat;
}

.place-content-center {
    place-content: center;
}

input:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

// Override modal content
.modal-content {
    background-color: var(--bg-primary) !important;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

.h-5 {
    height: 5%;
}

.h-10 {
    height: 10%;
}


.h-15 {
    height: 15%;
}

.h-83 {
    height: 83%;
}

.h-85 {
    height: 85%;
}

.h-90 {
    height: 90%;
}

.h-95 {
    height: 95%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-30 {
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-45 {
    width: 45%;
}

.width-max-content {
    width: max-content;
}

.overflow-y-auto {
    overflow-y: auto;
}

.justify-items-center {
    justify-items: center;
}

input[type="file"] {
    display: none;
}

.gap-15px {
    gap: 15px;
}

// sets active tab text color
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--primary) !important;
}

// sets note active tab text color
.mat-mdc-tab .mdc-tab__text-label {
    color: white !important;
}

//sets active tab border-down color
.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: var(--primary) !important;
    --mat-tab-header-active-focus-label-text-color: var(--primary) !important;
    --mat-tab-header-active-hover-label-text-color: var(--primary) !important;
    --mat-tab-header-active-ripple-color: var(--primary) !important;
    --mat-tab-header-inactive-ripple-color: var(--primary) !important;
    --mat-tab-header-active-focus-indicator-color: var(--primary) !important;
    --mat-tab-header-active-hover-indicator-color: var(--primary) !important;
}

// .mdc-tab {
//     background-color: var(--bg-primary) !important;
// }

.arrow-back {
    font-size: 24px;
}

.mat-mdc-text-field-wrapper {
    height: unset !important;
}